models/__pycache__
models/engine/__pycache__
tests/tests_models/__pycache__
tests/tests_models/test_engine/__pycache__
bigdata.json
tests/test_models/__pycache__
tests/test_models/test_engine/__pycache__
tests/__pycache__